.card {
  position: relative;
  max-width: 1440px;
  margin: 1rem auto 6rem;
  background-color: hsl(20, 12%, 95%);
  color: hsl(20, 12%, 55%);
}

.card:hover {
  box-shadow: 1px 5px 10px 1px hsl(0, 0%, 80%);
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  cursor: pointer;
}

.details h3{
  font-weight: normal;
  text-transform: none;
}

.title {
  font-weight: 100;
  padding: 0.5rem 0;
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

/* .title:after {
  content: 'View Project';
  position: absolute;
  bottom: 20%;
  left: 0;
  width: 120px;
  letter-spacing: 1px;
  background-color: hsl(20, 12%, 95%);
  opacity: 0;
  transition: opacity .3s;
}

.title:hover::after{
opacity: 1;
transition: opacity .3s;
} */

@media (min-width: 765px) {
  .details {
    flex-direction: row;
    justify-content: space-between;
  }

  .info {
    padding: 0.5rem;
    text-align: right;
  }

  .title {
    text-align: left;
  }
}
