.footer {
  background: #616161;
  padding: 2rem 1rem 1rem;
  color: hsl(0, 0%, 60%);
}

@media (min-width: 700px) {
  .footer_socials,
  .footer_links,
  .footer_contact,
  .footer_logo {
    flex: 0 0 250px;
  }
}

.footer_container {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px hsl(0, 0%, 45%) solid;
}

@media (min-width: 700px) {
  .footer_container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.footer_container h4 {
  padding: 0 2rem;
  color: #eae7e4;
  font-weight: lighter;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

@media (min-width: 700px) {
  .footer_container h4 {
    padding-top: 1rem;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 2rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.footer_socials div {
  padding: 0 2rem;
  display: flex;
  gap: 1.5rem;
  font-size: 2.4rem;
  margin-top: 1rem;
}

.flex a {
  cursor: pointer;
}
.flex a,
.flex p {
  margin-bottom: 0.5rem;
}

.footer_socials svg {
  transition: all 0.2s;
  font-size: 1.5rem;
}
.footer_socials svg:hover {
  color: hsl(60, 100%, 40%);
  transform: scale(1.1);
  transition: all 0.2s;
  cursor: pointer;
}

.cr p {
  padding: 2rem;
}

@media (min-width: 700px) {
  .cr p {
    text-align: center;
    padding-top: 3rem;
  }
}
