.blog {
  padding: 4rem 1rem;
  background: rgb(238, 238, 238);
  background: linear-gradient(
    106deg,
    rgba(238, 238, 238, 1) 32%,
    rgba(244, 242, 241, 1) 58%
  );
  height: 100vh;
}
.main_blog {
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 8px 7px 5px -4px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 8px 7px 5px -4px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 8px 7px 5px -4px rgba(0, 0, 0, 0.16);
  padding: 3rem;
}
.head {
  font-size: 2.5rem;
  padding: 2rem 0;
}
.info {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.details {
  line-height: 1.5;
  padding: 1rem 0;
}

@media (min-width: 41.875em) {
}
