.container {
  background: #f4f2f1;
}

.grid {
  display: grid;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  transition: all 0.3s;
}

.head {
  font-size: 1.2rem;
  font-weight: 400;
  padding-top: 2.5rem;
  padding-inline: 1.5rem;
  padding-bottom: 1rem;
  line-height: 1.8;
}

.head video {
  position: absolute;
  left: 30px;
  bottom: -100px;
  z-index: 10;
  width: 70%;
}
/* .image {
} */

.about {
  background: #e4dfdb;
  padding-top: 8rem;
}

@media (min-width: 51.875em) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
  }
  .head video {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .head {
    font-size: 1.8rem;
    font-weight: 500;
    padding-inline: 1rem;
    grid-area: 3 / 5 / 6 / 7;
    z-index: 1;
    line-height: 1.3;
    padding-top: 0;
  }

  .head p {
    padding-bottom: 5rem;
  }

  .image {
    grid-area: 1 / 1 / 11 / 6;
  }

  .about {
    background: #e4dfdb;
    margin-top: -10rem;
    padding-top: 12rem;
    padding-bottom: 10rem;
  }
}
